<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<body>
<div class="container" layout:fragment="content">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <div th:each="post: ${posts}">
        <a href="#" th:href="@{/posts/{seq} (seq=post.seq)} ">
          <h2 class="post-title" th:text="${post.postName}"></h2>
          <h3 class="post-subtitle" th:text="${post.postContent}"></h3>
        </a>
        <p class="post-meta">
          <a href="#" th:text="${post.createdAt}"></a>
        </p>
        </div>
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
</body>